$background: #16161a;
$headline: #fffffe;
$paragraph: #94a1b2;
$button: #7f5af0;
$buttontext: $headline;
$stroke: #010101;
$main: $headline;
$headlight: $button;
$secondary: #72757e;
$tertiary: #2cb67d;
$error: #d32752;
$info: #f6c31c;
$base-padding: 0.75rem;
$base-margin: 0.75;
$base-border-thickness: 1px;
$base-border-radius: 20px;