@mixin input() {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	border: 0;
	padding: $base-padding $base-padding * 2;
	border-radius: $base-border-radius;
	width: 200px;
}

.input {
	@include input;
	background-color: #0d0d0d;
	color: #fff;
}

@each $key, $val in $colors {
	.input-#{$key} {
		@include input();
		background-color: $val;
	}
	.input-outlined-#{$key} {
		@include input();
		border: $base-border-thickness solid $val;
		background-color: #fff;
	}
}